<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         
        <div>
            
        <form th:action="@{/autor/modificar/__${autor.id}__}" method="post" > 
            
            <!-- hidden es para decir q estara oculto -->
            
            <input hidden th:value="${id}" name ="id">
            
            
            <h2>Cargar Autores</h2> <br>
            
            <label>Ingrese el nuevo nombre </label>
            <input th:value="${autor.nombre}" name="nombre" type="text" placeholder="nombre del Autor">
            <br>
            <button type="submit" > ACTUALIZAR </button> 
            
        </form>
            
        </div>
               
        
        
    </body>
</html>
